<h1 class="text-center my-4"><%= @post.title %></h1>
<p class="text-center"><small class="text-muted"><em>Last updated:</em> <%= @post.updated_at.strftime("%b %d, %Y") %></small></p>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <p><%= @post.body %></p>

        <hr style="width: 250px;" />

        <p class="text-center"><%= link_to 'Back to Posts', posts_path %> |
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
</div>