<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<p><%= @post.id %></p>
<p><%= @post.title %></p>
<p><%= @post.body %></p>

<p><%= link_to 'Back to Posts', posts_path %></p>
<p><%= link_to 'Edit', edit_post_path(@post) %></p>
<p><%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' } %></p>