<!DOCTYPE html>
<html>
  <head>
    <%= yield :title %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Playfair+Display&display=swap" rel="stylesheet"> 

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>    
    <%= render 'partials/navbar' %>
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-success mt-4" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert alert-danger mt-4" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
